/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); */

body {
  background-color: #131313;
}

h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.media-picture {
  height: 600px;
  /* background-position: top; */
  background-image: url('https://images5.alphacoders.com/573/573475.jpg');
  background-size: cover;
}

.review-score {
  color: white;
  background-color: #e6bd09;
  padding: 12px;
}

h2 {
  color: steelblue;
  padding: 20px;
}

p {
  color: #bdbdbd;
  font-family: 'Roboto';
  padding-bottom: 20px;

}

a {
  color: yellow;
  padding-bottom: 100px;
}